iith.dev
encode gzip
route /v2/bus {
	file_server /static/bus.json
}
route /dining {
	file_server /static/dining.json
}
route /curriculum {
	url strip_prefix /curriculum
	file_server /static/curriculum
}
reverse_proxy web:8000
